<p id="notice"><%= notice %></p>

<p>
  <strong>Questiontype:</strong>
  <%= @question.questiontype %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Selections:</strong>
  <%= @question.selections.to_s %>


</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

